@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';
.Header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: $white;
  z-index: 999;

  @include box-shadow-sm;

  &__hidden-text {
    @include visually-hidden;
  }

  &__logo-image {
    height:35px;
    padding:10px;
    vertical-align: top;
  }
}
