@import '../../styles/variables.scss';

.Work{
    height: 490px;
    position: relative;
    width: 50%;
    box-sizing: border-box;

    &:before{
        border: 1px solid $light;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    & img {
        height: 40%;
    }

    &__desc {
        color: $dark;
        line-height: 20x;
        width: 100%;
        padding: 0 23px 18px;
        position: absolute;
        bottom: 0;
        left: 0;
        min-height: 65px;
    }
}