.Work{
    height: 490px;
    position: relative;
    width: 50%;
    box-sizing: border-box;

    &:before{
        border: 1px solid #e5e6ea;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }


    &__tag {
        height: 10%;
    }

    &__img {
    }

    & img {
        width: 40%;
    }

    &__desc {
        color: #17191c;
        font-size: 14px;
        line-height: 20x;
        width: 100%;
        padding: 0 23px 18px;
        transition: .8s cubic-bezier(.66, 0, .34, 1) all;
        position: absolute;
        bottom: 0;
        left: 0;
        min-height: 65px;
    }
}